<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" media="all"
    href="/static/vendor/tailwind.min.css" />
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
  <script src="/static/vendor/jquery-3.6.4.min.js"></script>
  <title>Document</title>
</head>

<style>
  body {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 13px;
    font-family: 'Helvetica', arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
  }

  table.header {
    display: inline-block;


  }

  .water-report-table tr td {
    border: 1px solid black;
  }

  .header {
    text-align: center;

    color: #fff;
    padding: 10px;
  }

  @page {
    margin: 20px;
    size: A4;
    counter-increment: page;
    content: "Page " counter(page);

    @top-center {
      content: element(header);
    }
  }

  #watermark {
    color: rgb(0 61 139 / 30%);
    height: 100%;
    left: -110px;
    line-height: 2;
    margin: 0;
    position: fixed;
    top: 0;
    transform: rotate(-30deg);
    transform-origin: 0 100%;
    width: 119%;
    word-spacing: 10px;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
   }

   .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity:0.8;
  }
  
</style>


<body class="">

  {%block content%} {% if list %}

  <section class="sticky top-60 w-32 text-xl flex flex-col left-9 px relative z-50 flex gap-8" >
    <a class="text-xl" target="_blank" href="{% url 'gaseousEmissionReport-pdfPrint' pk=list.id %}"><i class="fa-solid fa-file-pdf text-3xl text-red-600 hover:text-red-500" style="box-shadow: 4px 8px 12px -2px"></i>Print</a>
    <a class="text-xl" target="_blank" href="{% url 'gaseousEmissionReport-pdfReport' pk=list.id %}"><i class="fa-solid fa-file-pdf text-3xl text-red-600 hover:text-red-500" style="box-shadow: 4px 8px 12px -2px"></i>Report</a>
    <a  href="{% url "nav" %}"><svg class="w-8 h-8  text-gray-800 dark:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" style="box-shadow: 4px 8px 12px -2px">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9" />
    </svg ></a>
  </section>

  <p id="watermark">Lab Report No:{{list.lab_report_no}}</p>



  

  <table id="header-content" class="header relative w-full" style=" display: inline-block;top: -153px;">
    <img class="" src="/static/assets/Header watermark.jpg" alt="" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; max-height: 14%;
                 opacity: 0.5; background-position: center; background-size: cover; ">
    <tbody style="display: flex; justify-content: space-around; ">
      <tr>
        <td><img class="logo" src="/static/assets/0x0-removebg-preview.png" alt="" style="width: 60px; opacity: 12;">
        </td>
      </tr>
      <tr class="mt-8 flex flex-col items-center">
        <td>
          <h1 style="font-family: Pussycat, Algerian, Broadway, fantasy;" class="text-3xl text-indigo-800 ">Envi Tech AL
          </h1>
        </td>

      </tr>
      <tr class="mt-4">
        <td><img src="/static/assets/GreenLab-Gold-LOGO-S-e1578648052937-removebg-preview.png" alt=""
            style="width: 70px;"></td>
      </tr>
    </tbody>

  </table>
  <div class="mt-2 " style="position: absolute; width: 100%; top: 123px;">
    <hr class="" style="border: 2px solid #65a30d;">
  </div>

  <div class="background-image" style="background-image: url('{% static "/assets/18271682-laboratory-glassware-over-white-background.jpg" %}');">
  </div>
  <section id="img1">
    <div id="" class=" w-full flex justify-center items-center ">
      <div class="w-8/12 flex justify-between items-center space-x-10">
        <div class="space-y-2 ">
          <div class="">
            <td><Strong>Lab Report No:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; width: 36%; text-align: center;">{{list.lab_report_no}}</span>
            </td>

          </div>
          <div class="w-80">
            <td><Strong>Invoice Bill No:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; width: 36%; text-align: center;">{{list.invoice_bill_no}}</span>
            </td>
          </div>
        </div>
        <div class="">
          <img style="width:80px;height:80px" class=" float-right mr-20 items-center text-center" src="{{qr}}" alt="">
        </div>

        <div class="space-y-2 ">
          <div class="ml-16">
            <td class="page"><Strong>Page:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; width: 36%; text-align: center;">1
                of 1</span></td>

          </div>
          <div class="w-80">
            <td><Strong>Reporting Date:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; width: 36%; text-align: center;">{{list.reporting_date}}</span>
            </td>
          </div>
        </div>
      </div>
    </div>

    <div class="pdf2 w-full flex  flex-col  items-center">
      <table id="img2" class="border border-black w-8/12 mt-6">
        <tbody>
          <tr class="text-center">
            <td class="border text-left pl-2 border-black align-text-top w-24"><strong>Report To :</strong></td>
            <div class="">
              <td class="flex space-x-10 ml-10 pt-1">
                <p><strong>M/S.</strong></p>
                <p>{{list.report_to}}</p>
              </td>
            </div>
            <div>
              <td class="flex space-x-10 ml-2 border-none pb-2">
                <p><strong>Address:</strong></p>
                <p>{{list.address}}</p>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>



    <center>
      <table class="border border-black w-8/12 mt-2">
        <tbody>
          <tr class="">
            <td class="border border-black pl-2 align-text-top w-24"><strong>Attention :</strong></td>
            <div class="">
              <td class="flex space-x-10 ml-10 border-none pt-1">
                <p><strong>Mr.</strong></p>
                <p>{{list.attention}}</p>
              </td>
            </div>
            <div>
              <td class="flex space-x-10 ml-4 border-none pb-2">
                <p><strong>Email:</strong></p>
                <p>{{list.email}}</p>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </center>


    <center>
      <table class="mt-2 text-center w-8/12 border-black border pb-1">
        <tbody>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1 w-52">Test ID</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1 w-52">{{list.sample_id}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Test Performed Date:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">
              {{list.GaseEm_test_perf_date}}
            </td>
          </tr>
          
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Test Type:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{list.GaseEm_test_type}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">
              Test Performed By:
            </td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{list.GaseEm_test_perf_by}}</td>
          </tr>
          
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Test Description:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{list.GasEm_test_desc}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Types:</td>
            {% if list.GaseEm_types == 'oil_fired' %}
            <td class="border border-black text-left pl-2 pt-1 pb-1 font-bold">Oil Fired</td>
            {% elif list.GaseEm_types == 'gas_fired' %}
            <td class="border border-black text-left pl-2 pt-1 pb-1 font-bold">Gas Fired</td>
            {% elif list.GaseEm_types == 'coal_fired' %}
            <td class="border border-black text-left pl-2 pt-1 pb-1 font-fold">Coal Fired</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </center>
  </section>
  <section id="pdf-content">
    <div class="w-full  flex flex-col">
      <div class="pdf-child">




        <!-- <section> -->
      
      </div>
    </div>


    <center>
      <table id="" class="water-report-table border border-black mt-2 w-8/12" cellspacing="15">
        <thead>
          <tr>
            <th class="font-semibold" style="font-size: 15px;" colspan="6">Test Report</th>
          </tr>
          <tr class="">
            <th class="border border-black">Sr.#</th>
            <th class="border border-black">Parameter/Analytes Description</th>
            <th class="border border-black">Unit</th>
            <th class="border border-black">Test Result</th>
            <th class="border border-black">{{list.GaseEm_select}}</th>
          </tr>
        </thead>
        <tbody id="report-table">
          {% if list.GaseEm_sr1 %}
          <tr class=" border">
            <td class="text-center">01</td>
            <td class="pl-2">Smoke, Ringlemann Scale</td>
            <td class="text-center">-</td>
            <td class="text-center">{{list.GaseEm_sr1}}</td>
            <td class="text-center">	2</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr2 %}
          <tr class=" border">
            <td class="text-center">02</td>
            <td class="pl-2">Particulate matter</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr2}}</td>
            {%if list.GaseEm_types == 'gas_fired'%}
            <td class="text-center">300</td>
            {%endif%}
            {%if list.GaseEm_types == 'oil_fired'%}
            <td class="text-center">300</td>
            {%endif%}
            {%if list.GaseEm_types == 'coal_fired'%}
            <td class="text-center">500</td>
            {%endif%}
          </tr>
          {% endif %}
          {% if list.GaseEm_sr3 %}
          <tr class=" border">
            <td class="text-center">03</td>
            <td class="pl-2">Carobon Monoxide (CO)</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr3}}</td>
            <td class="text-center">800</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr4 %}
          <tr class=" border">
            <td class="text-center">04</td>
            <td class="pl-2">Nitrogen Dioxide (NO2)</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr4}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr5 %}
          <tr class=" border">
            <td class="text-center">05</td>
            <td class="pl-2">Nitrogen Oxide (NO)</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr5}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr6 %}
          <tr class=" border">
            <td class="text-center">06</td>
            <td class="pl-2">NOx</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr6}}</td>
            {%if list.GaseEm_types == 'gas_fired'%}
            <td class="text-center">400</td>
            {%endif%}
            {%if list.GaseEm_types == 'oil_fired'%}
            <td class="text-center">600</td>
            {%endif%}
            {%if list.GaseEm_types == 'coal_fired'%}
            <td class="text-center">1200</td>
            {%endif%}
          </tr>
          {%endif%}
          {% if list.GaseEm_sr7 %}
          <tr class=" border">
            <td class="text-center">07</td>
            <td class="pl-2">Oxygen (O2)</td>
            <td class="text-center">%</td>
            <td class="text-center">{{list.GaseEm_sr7}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr8 %}
          <tr class=" border">
            <td class="text-center">08</td>
            <td class="pl-2">Hydrogen Sulfide(H2S)</td>
            <td class="text-center">-</td>
            <td class="text-center">{{list.GaseEm_sr8}}</td>
            <td class="text-center">10</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr9 %}
          <tr class=" border">
            <td class="text-center">09</td>
            <td class="pl-2">Hydrogen Chloride</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr9}}</td>
            <td class="text-center">400</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr10 %}
          <tr class=" border">
            <td class="text-center">10</td>
            <td class="pl-2">Chlorine</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr10}}</td>
            <td class="text-center">150</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr11 %}
          <tr class=" border">
            <td class="text-center">11</td>
            <td class="pl-2">Hydrogen Fluoride</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr11}}</td>
            <td class="text-center">150</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr12 %}
          <tr class=" border">
            <td class="text-center">12</td>
            <td class="pl-2">Sulphur Dioxide (SO2)</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr12}}</td>
            <td class="text-center">1700</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr13 %}
          <tr class=" border">
            <td class="text-center">13</td>
            <td class="pl-2">	Mercury</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr13}}</td>
            <td class="text-center">10</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr14 %}
          <tr class=" border">
            <td class="text-center">14</td>
            <td class="pl-2">Cadmium</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr14}}</td>
            <td class="text-center">20</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr15 %}
          <tr class=" border">
            <td class="text-center">15</td>
            <td class="pl-2">Arsenic</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr15}}</td>
            <td class="text-center">20</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr16 %}
          <tr class=" border">
            <td class="text-center">16</td>
            <td class="pl-2">Copper</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr16}}</td>
            <td class="text-center">50</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr17 %}
          <tr class=" border">
            <td class="text-center">17</td>
            <td class="pl-2">	Antimony</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr17}}</td>
            <td class="text-center">20</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr18 %}
          <tr class=" border">
            <td class="text-center">18</td>
            <td class="pl-2">Zinc</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr18}}</td>
            <td class="text-center">200</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr19 %}
          <tr class=" border">
            <td class="text-center">19</td>
            <td class="pl-2">Lead</td>
            <td class="text-center">mg/Nm3</td>
            <td class="text-center">{{list.GaseEm_sr19}}</td>
            <td class="text-center">50</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr20 %}
          <tr class=" border">
            <td class="text-center">20</td>
            <td class="pl-2">Carbon dioxide (CO2)</td>
            <td class="text-center">%</td>
            <td class="text-center">{{list.GaseEm_sr20}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr21 %}
          <tr class=" border">
            <td class="text-center">21</td>
            <td class="pl-2">Hydrocarbon</td>
            <td class="text-center">%</td>
            <td class="text-center">{{list.GaseEm_sr21}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}
          {% if list.GaseEm_sr22 %}
          <tr class=" border">
            <td class="text-center">22</td>
            <td class="pl-2">Noise</td>
            <td class="text-center">dB</td>
            <td class="text-center">{{list.GaseEm_sr22}}</td>
            <td class="text-center">-</td>
          </tr>
          {%endif%}

          {% for extra_field in list.extra_field %}

          <tr class=" border">
            <td class="text-center">23</td>
            <td class="pl-2">{{ extra_field.parameters }}</td>
            <td class="text-center">{{ extra_field.unit }}</td>
            <td class="text-center">{{ extra_field.result }}</td>
            <td class="text-center">{{ extra_field.limit }}</td>
          </tr>
          
      {% endfor %}
          
        </tbody>
      </table>
    </center>



    <div class=" space-y-1 w-full flex flex-col items-center">

      <div class="w-8/12 ">

        {%if list.GaseEm_edit_note%}
        <div class="mt-2         flex flex-row space-x-2  text-xs">
          <p class="underline"><strong>Note:</strong></p>
          <p class="">{{list.GaseEm_edit_note}}</p>
        </div>
        {%endif%}


        {% if list.conclusion %}
        <div class="flex">
          <p class="underline"><strong>Conclusion:</strong></p>
          <p class="ml-2">{{list.conclusion}}</p>
        </div>
        {% endif %}

        <p class="py-1 underline"><strong>Legends:</strong></p>

        <div class=" w-full text-xs">
          {%if list.GaseEm_legend_1%}
          <p>{{list.GaseEm_legend_1}}</p>
          {%endif%}
          {%if list.GaseEm_legend_2%}
          <p>{{list.GaseEm_legend_2}}</p>
          {%endif%}
          {%if list.GaseEm_legend_3%}
          <p>{{list.GaseEm_legend_3}}</p>
          {%endif%}
          {%if list.GaseEm_legend_4%}
          <p>{{list.GaseEm_legend_4}}</p>
          {%endif%}
          {%if list.GaseEm_legend_5%}
          <p>{{list.GaseEm_legend_5}}</p>
          {%endif%}
          {%if list.GaseEm_legend_6%}
          <p>{{list.GaseEm_legend_6}}</p>
          {%endif%}
          {%if list.GaseEm_legend_7%}
          <p>{{list.GaseEm_legend_7}}</p>
          {%endif%}
          {%if list.GaseEm_legend_8%}
          <p>{{list.GaseEm_legend_8}}</p>
          {%endif%}
          {%if list.GaseEm_legend_9%}
          <p>{{list.GaseEm_legend_9}}</p>
          {%endif%}
          {%if list.GaseEm_legend_10%}
          <p>{{list.GaseEm_legend_10}}</p>
          {%endif%}
          {%if list.GaseEm_legend_11%}
          <p>{{list.GaseEm_legend_11}}</p>
          {%endif%}
          
        </div>
      </div>

    </div>

    <div class="w-full flex flex-col items-center">
      <div class="w-8/12 flex justify-around mt-6">
        <div class="">
          <img class="h-16 w-20" src="{{list.analyst_signature.signature.url}}" alt="image" />
          <hr class="border border-black mt-2" />
          <p><strong>Analyzed By (Analyst)</strong></p>
        </div>
        <div class="">
          <img class="h-16 w-20" src="{{list.assistant_manager_signature.signature.url}}" alt="image" />
          <hr class="border border-black mt-2" />
          <p><strong>Reviewed By (Assistant Manager)</strong></p>
        </div>
        <div class="">
          <div class="flex space-x-6">
            <img class="h-20 w-20" src="{{logo}}" alt="image" />
            <img class="h-16 w-20" src="{{list.lab_manager_signature.signature.url}}" alt="image" />
          </div>
          <hr class="border border-black mt-2" />
          <p><strong>Approved By (Lab Manager)</strong></p>
        </div>
      </div>
    </div>
    <hr class="border border-gray-700 mt-3">


    <div class="w-full  flex items-center justify-center">
      <div class="mt-2 w-8/12 flex justify-between">
        <div class="w-7/12">
          <span><strong>Disclaimer :</strong></span>
          <div class="mt-2 " style="font-size: 10px; ">
            <li>Report is valid for current batch (sample).</li>
            <li>This report is not valid for any publication or judical purpose.</li>
            <li>If sample is provided by the customer, <span class="text-indigo-700 font-bold">Envi Tech AL</span> is
              not responsible for the sample identification and data shared by the client.</li>
            <li>The remaining portion of te sample shall be discarded after five working days unless otherwise
              instructed.</li>
          </div>
        </div>
        <div class="flex text-center ">
          <div class=" flex items-center flex-col">
            {%if list.GaseEm_doc_con_1%}
            <img class="h-16 w-20" src={% static "/assets/ISO-9001_2015 LOGO.png" %} alt="">
            <p style="font-size: 8px;">(Certificate # 080177324-QMS)</p>
            <div class="border border-black w-28 p-1" style="font-size: 9px;">
              <p>{{list.GaseEm_doc_con_1}}</p>
            </div>
            {%endif%}
          </div>
          <div class="text-center flex flex-col items-center">
            {% if list.location == 'SEQS' %}
            <img class="h-16 w-20" src="{% static "/assets/SEPA-Sindh-LOGO-removebg-preview.png" %}" alt="">
            {% endif %}
            {% if list.location == 'PEQS' %}
            <img class="h-16 w-20" src="{% static '/assets/EPA_updated.png' %}" alt="">
            {% endif %}
            {% if list.location == 'NEQS' %}
            <img class="h-16 w-20" src="{% static "/assets/SEPA-Sindh-LOGO-removebg-preview.png" %}" alt="">
            {% endif %}
            {%if list.location == 'PEQS'%}
              <p style="font-size: 8px;">(82/Dir/(ML&I)/EPA/03/2025)</p>
            {%else%}
              <p style="font-size: 8px;">LAB/L.C/ENVI TECH AL-2/20/93/2024</p>
            {%endif%}
            {%if list.GaseEm_doc_con_2%}
            <div class="border border-black w-28 p-1" style="font-size: 9px; width:100%">

              <p>{{list.GaseEm_doc_con_2}}</p>
            </div>
            {%endif%}

          </div>
          <div class="text-center flex flex-col items-center">
            {%if list.GaseEm_doc_con_3%}
            <img class="h-16 w-20" src={% static "/assets/ISO-14001_2015 LOGO.png" %} alt="">
            <p style="font-size: 8px;">(certificate # 080177424-EMS)</p>
            <div class="border border-black w-28 p-1 " style="font-size: 9px;">

              <p>{{list.GaseEm_doc_con_3}}</p>
            </div>
            {%endif%}

          </div>
        </div>

      </div>
    </div>
    <hr class="border border-gray-700 mt-2 mb-10">







    </div>
    </div>
    </div>
  </section>
  <footer id="footer-content" class="footer bg-indigo-900 h-14">
    <div class="w-full">
      <div class="flex justify-between ml-4 mr-4">
        <div class="flex justify-center py-2 items-center">
          <img class="h-10 text-center" src="/static/assets/Picture1.png" alt="">
          <div class=" flex flex-col text-gray-200" style="font-size: 10px;">
            <span><strong>Head Office:</strong> First Floor, 345, Street 15, Bahadurabad Bahadur Yar Jang CHS, Karachi,
              Karachi City, Sindh 75900</span>
            <span><strong>Lahore Office:</strong> 87-E Madina Heights, Office # A/30-31, 8th Floor, Maulana Shaukat Ali
              Rd, Block E Phase 1 Johar Town, Lahore</span>
          </div>
        </div>
        <div class="flex justify-center py-4 space-x-4">
          <i class="fa-solid fa-earth-americas text-center mt-1 text-xl text-gray-200"></i>
          <div class=" flex flex-col text-gray-200" style="font-size: 10px;">
            <span>info@envitechal.com</span>
            <span>www.envitechal.com</span>
          </div>
        </div>
      </div>
    </div>

  </footer>



  {%endif%}
  {%endblock%}




  
  <script src="/static/vendor/jquery-3.6.4.min.js"></script>
 
  <script defer>
    $(document).ready(() => {
      var td = $("#report-table td:nth-child(1)");
      var i = 1;
      
      td.each(function() {
        $(this).text(i < 10 ? `0${i}` : i.toString());
        i++;
      });
    });

    var water_mark = document.getElementById('watermark').textContent
 
    var textWatermark = water_mark
    var fullTextWatermark = '';
    var n = 10000;
    for (var i = 0; i < n; i++) {
     fullTextWatermark+= ' ' + textWatermark;
    }
    document.getElementById('watermark').innerHTML = fullTextWatermark


    window.addEventListener('contextmenu', function (e) {
      e.preventDefault();
  });

  window.addEventListener('keydown', function (e) {
    if (e.key === 'PrintScreen' || e.key === 'PrtScn') {
        // Handle the print screen key press
    }
});

window.addEventListener('contextmenu', function (e) {
  e.preventDefault();
});

window.addEventListener('dragstart', function (e) {
  e.preventDefault();
});

  </script>

</body>

</html>