{% extends "report_base.html" %}{% load static %}
{% block w2_prefix %}<!DOCTYPE html>
<html lang="en">

<head>{% endblock %}{% block w2_head %}<link rel="icon" type="image/png" href="/static/assets/logo-light.png">
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" media="all"
    href="/static/vendor/tailwind.min.css" />
  <link rel="stylesheet" href="/static/vendor/fontawesome/css/all.min.css">
  <title>Lab Report - Envi Tech AL</title>
{% endblock %}{% block w2_mid %}</head>

<style>
  body {
    color: #000000;
    background-color: #FFFFFF;
    font-size: 13px;
    font-family: 'Helvetica', arial, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact;
  }

  table.header {
    display: inline-block;


  }

  .water-report-table tr td {
    border: 1px solid black;
  }

  .header {
    text-align: center;

    color: #fff;
    padding: 10px;
  }

  @page {
    margin: 20px;
    size: A4;
    counter-increment: page;
    content: "Page " counter(page);

    @top-center {
      content: element(header);
    }
  }

  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    opacity:0.8;
  }
  
  #watermark {
    color: rgb(0 61 139 / 30%);
    height: 100%;
    left: -110px;
    line-height: 2;
    margin: 0;
    position: fixed;
    top: 0;
    transform: rotate(-30deg);
    transform-origin: 0 100%;
    width: 119%;
    word-spacing: 10px;
    z-index: 1;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
   }

  /* View-form professional-appearance fix (audit 21-07-2026): soften anti-forgery watermark to ~6%, drop decorative background photo */
  .background-image{display:none !important;}
  #watermark{color:rgba(0,61,139,0.06) !important;}
  img[src*="Header watermark"]{opacity:0.12 !important;}
</style>


<body class="">{% endblock %}{% block w2_content %}<a href="javascript:history.back()" class="noprint" style="position:fixed;top:8px;left:8px;z-index:1000;background:#1f2937;color:#fff;padding:6px 14px;border-radius:6px;font-family:sans-serif;font-size:14px;text-decoration:none">&#8592; Back</a><style>@media print{.noprint{display:none}}</style>

  {%block content%} {% if data %}

  <section class="sticky top-60 w-32 text-xl flex flex-col left-9 px relative z-50 gap-8">
    <a class="text-lg" target="_blank" href="{% url 'machineOilReport-pdfPrint' pk=data.id %}"><i class="fa-solid fa-file-pdf text-3xl text-red-600 hover:text-red-500" style="box-shadow: 4px 8px 12px -2px"></i>Print</a>
    <a class="text-lg" target="_blank" href="{% url 'machineOilReport-pdfReport' pk=data.id %}"><i class="fa-solid fa-file-pdf text-3xl text-red-600 hover:text-red-500" style="box-shadow: 4px 8px 12px -2px"></i>Report</a>
    <a  href="{% url 'nav' %}"><svg class="w-8 h-8  text-gray-800 dark:text-white " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" style="box-shadow: 4px 8px 12px -2px">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8v10a1 1 0 0 0 1 1h4v-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v5h4a1 1 0 0 0 1-1V8M1 10l9-9 9 9" />
    </svg ></a>
  </section>


  <p id="watermark">Lab Report No:{{data.lab_report_no}}</p>


  

  <table id="header-content" class="header relative top-0 w-full" style=" display: inline-block;top: -163px;">
    <img class="" src="/static/assets/Header watermark.jpg" alt="" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; max-height: 14%;
                 opacity: 0.5; background-position: center; background-size: cover; ">
    <tbody style="display: flex; justify-content: space-around; ">
      <tr>
        <td><img class="logo" src="/static/assets/0x0-removebg-preview.png" alt="" style="width: 60px; opacity: 12;">
        </td>
      </tr>
      <tr class="mt-8 flex flex-col items-center">
        <td>
          <h1 style="font-family: Pussycat, Algerian, Broadway, fantasy;" class="text-3xl text-indigo-800 ">Envi Tech AL
          </h1>
        </td>

      </tr>
      <tr class="mt-4">
        <td><img src="/static/assets/GreenLab-Gold-LOGO-S-e1578648052937-removebg-preview.png" alt=""
            style="width: 70px;"></td>
      </tr>
    </tbody>

  </table>
  <div class="mt-2 " style="position: absolute; width: 100%; top: 123px;">
    <hr class="" style="border: 2px solid #65a30d;">
  </div>
  <div class="background-image" style="background-image: url('{% static "/assets/18271682-laboratory-glassware-over-white-background.jpg" %}');">
  </div>
  <section id="img1">
    <div id="" class=" w-full flex justify-center items-center ">
      <div class="w-8/12 flex justify-between items-center space-x-10">
        <div class="space-y-2 ">
          <div class="">
            <td><Strong>Lab Report No:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; min-width: 170px; white-space: nowrap; text-align: center; font-size: 13px;">{{data.lab_report_no}}</span>
            </td>

          </div>
          <div class="w-80">
            <td><Strong>Invoice Bill No:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; min-width: 170px; white-space: nowrap; text-align: center; font-size: 13px;">{{data.invoice_bill_no}}</span>
            </td>
          </div>
        </div>
        <div class="">
          <img style="width:80px;height:80px" class=" float-right mr-20 items-center text-center" src="{{qr}}" alt="">
        </div>

        <div class="space-y-2 ">
          <div class="ml-16">
            <td class="page"><Strong>Page:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; min-width: 170px; white-space: nowrap; text-align: center; font-size: 13px;">1
                of 1</span></td>

          </div>
          <div class="w-80">
            <td><Strong>Reporting Date:</Strong></td>
            <td><span
                style="border-bottom: 1px solid black; padding-bottom: 4px; display: inline-block; min-width: 170px; white-space: nowrap; text-align: center; font-size: 13px;">{{data.reporting_date}}</span>
            </td>
          </div>
        </div>
      </div>
    </div>

    <div class="pdf2 w-full flex  flex-col  items-center">
      <table id="img2" class="border border-black w-8/12 mt-6">
        <tbody>
          <tr class="text-center">
            <td class="border text-left pl-2 border-black align-text-top w-24"><strong>Report To :</strong></td>
            <div class="">
              <td class="flex space-x-10 ml-10 pt-1">
                <p><strong>M/S.</strong></p>
                <p>{{data.report_to}}</p>
              </td>
            </div>
            <div>
              <td class="flex space-x-10 ml-2 border-none pb-2">
                <p><strong>Address:</strong></p>
                <p>{{data.address}}</p>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </div>



    <center>
      <table class="border border-black w-8/12 mt-2">
        <tbody>
          <tr class="">
            <td class="border border-black pl-2 align-text-top w-24"><strong>Attention :</strong></td>
            <div class="">
              <td class="flex space-x-10 ml-10 border-none pt-1">
                <p><strong>Mr.</strong></p>
                <p>{{data.attention}}</p>
              </td>
            </div>
            <div>
              <td class="flex space-x-10 ml-4 border-none pb-2">
                <p><strong>Email:</strong></p>
                <p>{{data.email}}</p>
              </td>
            </div>
          </tr>
        </tbody>
      </table>
    </center>


    <center>
      <table class="mt-2 text-center w-8/12 border-black border pb-1">
        <tbody>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Sample ID</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{data.sample_id}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Sample Collection Date:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">
              {{data.machine_sample_col_date}}
            </td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Sample Description</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{data.machine_sample_desc}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Sample Type:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{data.machine_sample_type}}</td>
          </tr>
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">
              Sample Collected /Submitted by:
            </td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{data.machine_sample_col_by}}</td>
          </tr>
          
          <tr>
            <td class="border border-black text-right pr-2 pt-1 pb-1">Test Description:</td>
            <td class="border border-black text-left pl-2 pt-1 pb-1">{{data.machine_test_desc}}</td>
          </tr>
        </tbody>
      </table>
    </center>
  </section>
  <section id="pdf-content">
    <div class="w-full  flex flex-col">
      <div class="pdf-child">




        <!-- <section> -->
      
      </div>
    </div>


    <center>
      <table id="" class="water-report-table border border-black mt-2 w-8/12" cellspacing="15">
        <thead>
          <tr>
            <th class="font-semibold" style="font-size: 15px;" colspan="6">Analytical Test Report</th>
          </tr>
          <tr class="">
            <th class="border border-black">Sr.#</th>
            <th class="border border-black">Parameter/Analytes Description</th>
            <th class="border border-black">Methods</th>
            <th class="border border-black">Unit</th>
            <th class="border border-black">Test Result</th>
            <th class="border border-black">GOTS Limits</th>
          </tr>
        </thead>
        <tbody id="report-table">
          {% if data.machine_sr1 %}
          <tr class=" border">
            <td class="text-center">01</td>
            <td class="pl-2">Antimony (Sb)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr1}}</td>
            <td class="text-center">50</td>
          </tr>
          {%endif%}
          {% if data.machine_sr2 %}
          <tr class=" border">
            <td class="text-center">02</td>
            <td class="pl-2">Arsenic (As)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr2}}</td>
            <td class="text-center">50</td>
          </tr>
          {%endif%}
          {% if data.machine_sr3 %}
          <tr class=" border">
            <td class="text-center">03</td>
            <td class="pl-2">Barium (Ba)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr3}}</td>
            <td class="text-center">100</td>
          </tr>
          {%endif%}
          {% if data.machine_sr4 %}
          <tr class=" border">
            <td class="text-center">04</td>
            <td class="pl-2">Cadmium (Cd)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr4}}</td>
            <td class="text-center">20</td>
          </tr>
          {%endif%}
          {% if data.machine_sr5 %}
          <tr class=" border">
            <td class="text-center">05</td>
            <td class="pl-2">Cobalt (Co)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr5}}</td>
            <td class="text-center">500</td>
          </tr>
          {%endif%}
          {% if data.machine_sr6 %}
          <tr class=" border">
            <td class="text-center">06</td>
            <td class="pl-2">Copper (Cu)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr6}}</td>
            <td class="text-center">250</td>
          </tr>
          {%endif%}
          {% if data.machine_sr7 %}
          <tr class=" border">
            <td class="text-center">07</td>
            <td class="pl-2">Chromium (Cr)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr7}}</td>
            <td class="text-center">100</td>
          </tr>
          {%endif%}
          {% if data.machine_sr8 %}
          <tr class=" border">
            <td class="text-center">08</td>
            <td class="pl-2">Iron (Fe)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr8}}</td>
            <td class="text-center">2500</td>
          </tr>
          {%endif%}
          {% if data.machine_sr9 %}
          <tr class=" border">
            <td class="text-center">09</td>
            <td class="pl-2">Lead (Pb)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr9}}</td>
            <td class="text-center">100</td>
          </tr>
          {%endif%}
          {% if data.machine_sr10 %}
          <tr class=" border">
            <td class="text-center">10</td>
            <td class="pl-2">Manganese (Mn)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr10}}</td>
            <td class="text-center">1000</td>
          </tr>
          {%endif%}
          {% if data.machine_sr11 %}
          <tr class=" border">
            <td class="text-center">11</td>
            <td class="pl-2">Nickel (Ni)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr11}}</td>
            <td class="text-center">200</td>
          </tr>
          {%endif%}
          {% if data.machine_sr12 %}
          <tr class=" border">
            <td class="text-center">12</td>
            <td class="pl-2">Mercury (Hg)</td>
            <td class="text-center">ASTM D7622</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr12}}</td>
            <td class="text-center">04</td>
          </tr>
          {%endif%}
          {% if data.machine_sr13 %}
          <tr class=" border">
            <td class="text-center">01</td>
            <td class="pl-2">Selenium (Se)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr13}}</td>
            <td class="text-center">20</td>
          </tr>
          {%endif%}
          {% if data.machine_sr14 %}
          <tr class=" border">
            <td class="text-center">14</td>
            <td class="pl-2">Silver (Ag)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr14}}</td>
            <td class="text-center">50</td>
          </tr>
          {%endif%}
          {% if data.machine_sr15 %}
          <tr class=" border">
            <td class="text-center">15</td>
            <td class="pl-2">Zinc (Zn)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr15}}</td>
            <td class="text-center">1500</td>
          </tr>
          {%endif%}
          {% if data.machine_sr16 %}
          <tr class=" border">
            <td class="text-center">16</td>
            <td class="pl-2">Tin (Sn)</td>
            <td class="text-center">ASTM D-5185</td>
            <td class="text-center">mg/kg</td>
            <td class="text-center">{{data.machine_sr16}}</td>
            <td class="text-center">250</td>
          </tr>
          {%endif%}
          
        </tbody>
      </table>
    </center>



    <div class=" space-y-1 w-full flex flex-col items-center">

      <div class="w-8/12 ">

        {%if data.machine_edit_note%}
        <div class="mt-2 flex flex-row space-x-2  text-xs">
          <p class="underline"><strong>Note:</strong></p>
          <p class="">{{data.machine_edit_note}}</p>
        </div>
        {%endif%}
        


        

        <p class="py-1 underline"><strong>Legends:</strong></p>

        <div class=" w-full text-xs">
          {%if data.machine_legend_1%}
          <p>{{data.machine_legend_1}}</p>
          {%endif%}
          {%if data.machine_legend_2%}
          <p>{{data.machine_legend_2}}</p>
          {%endif%}
        </div>

        {%if data.machine_custom_legend%}
        <div class="mt-2 flex flex-row space-x-2  text-xs">
          <p class="underline"><strong>custom Legend:</strong></p>
          <p class="">{{data.machine_custom_legend}}</p>
        </div>
        {%endif%}
      </div>
      

      

    </div>

    

    <div class="w-full flex flex-col items-center">
      <div class="w-8/12 flex justify-around mt-6">
        <div class="">
          <img class="h-16 w-20" src="{{data.analyst_signature.signature.url}}" alt="" onerror="this.style.display='none'" />
          <hr class="border border-black mt-2" />
          <p><strong>Analyzed By (Analyst)</strong></p>
        </div>
        <div class="">
          <img class="h-16 w-20" src="{{data.assistant_manager_signature.signature.url}}" alt="" onerror="this.style.display='none'" />
          <hr class="border border-black mt-2" />
          <p><strong>Reviewed By (Assistant Manager)</strong></p>
        </div>
        <div class="">
          <div class="flex space-x-6">
            <img class="h-20 w-20" src="{{logo}}" alt="image" />
            <img class="h-16 w-20" src="{{data.lab_manager_signature.signature.url}}" alt="" onerror="this.style.display='none'" />
          </div>
          <hr class="border border-black mt-2" />
          <p><strong>Approved By (Lab Manager)</strong></p>
        </div>
      </div>
    </div>
    <hr class="border border-gray-700 mt-3">


    <div class="w-full  flex items-center justify-center">
      <div class="mt-2 w-8/12 flex justify-between">
        <div class="w-7/12">
          <span><strong>Disclaimer :</strong></span>
          <div class="mt-2 " style="font-size: 10px; ">
            <li>Report is valid for current batch (sample).</li>
            <li>This report is not valid for any publication or judicial purpose.</li>
            <li>If sample is provided by the customer, <span class="text-indigo-700 font-bold">Envi Tech AL</span> is
              not responsible for the sample identification and data shared by the client.</li>
            <li>The remaining portion of the sample shall be discarded after five working days unless otherwise
              instructed.</li>
          </div>
        </div>
        <div class="flex text-center justify-between">
          <div class=" flex items-center flex-col">
            <img class="h-16 w-20" src="{% static '/assets/ISO-9001_2015 LOGO.png' %}" alt="">
            {%if data.machine_doc1%}
            <p style="font-size: 8px;">(Certificate # 080177324-QMS)</p>
            <div class="border border-black w-28 p-1" style="font-size: 9px;">
              <p>{{data.machine_doc1}}</p>
            </div>
            {%endif%}
          </div>
          <div class="text-center flex flex-col items-center">
            {% if data.location == 'SEQS' %}
            <img class="h-16 w-20" src="{% static "/assets/SEPA-Sindh-LOGO-removebg-preview.png" %}" alt="">
            {% endif %}
            {% if data.location == 'PEQS' %}
            <img class="h-16 w-20" src="{% static '/assets/EPA_updated.png' %}" alt="">
            {% endif %}
            {% if data.location == 'NEQS' %}
            <img class="h-16 w-20" src="{% static "/assets/SEPA-Sindh-LOGO-removebg-preview.png" %}" alt="">
            {% endif %}
            {%if data.location == 'PEQS'%}
              <p style="font-size: 8px;">(82/Dir/(ML&I)/EPA/03/2025)</p>
            {%else%}
              <p style="font-size: 8px;">LAB/L.C/ENVI TECH AL-2/20/93/2024</p>
            {%endif%}
            {%if data.machine_doc2%}
            <div class="border border-black w-28 p-1" style="font-size: 9px; width:100%">

              <p>{{data.machine_doc2}}</p>
            </div>
            {%endif%}

          </div>
          <div class="text-center flex flex-col items-center">
            <img class="h-16 w-20" src="{% static '/assets/ISO-14001_2015 LOGO.png' %}" alt="">
            {%if data.machine_doc3%}
            <p style="font-size: 8px;">(certificate # 080177424-EMS)</p>
            <div class="border border-black w-28 p-1 " style="font-size: 9px;">

              <p>{{data.machine_doc3}}</p>
            </div>
            {%endif%}

          </div>
        </div>

      </div>
    </div>
    <hr class="border border-gray-700 mt-2 mb-10">







    </div>
    </div>
    </div>
  </section>
  <footer id="footer-content" class="footer bg-indigo-900 h-14">
    <div class="w-full">
      <div class="flex justify-between ml-4 mr-4">
        <div class="flex justify-center py-2 items-center">
          <img class="h-10 text-center" src="/static/assets/Picture1.png" alt="">
          <div class=" flex flex-col text-gray-200" style="font-size: 10px;">
            <span><strong>Head Office:</strong> First Floor, 345, Street 15, Bahadurabad Bahadur Yar Jang CHS, Karachi,
              Karachi City, Sindh 75900</span>
            <span><strong>Lahore Office:</strong> 87-E Madina Heights, Office # A/30-31, 8th Floor, Maulana Shaukat Ali
              Rd, Block E Phase 1 Johar Town, Lahore</span>
          </div>
        </div>
        <div class="flex justify-center py-4 space-x-4">
          <i class="fa-solid fa-earth-americas text-center mt-1 text-xl text-gray-200"></i>
          <div class=" flex flex-col text-gray-200" style="font-size: 10px;">
            <span>info@envitechal.com</span>
            <span>www.envitechal.com</span>
          </div>
        </div>
      </div>
    </div>

  </footer>



  {%endif%}
  {%endblock%}

  <script src="/static/vendor/jquery-3.6.4.min.js"></script>
  <script defer>
    $(document).ready(async () => {
      var td = $("#report-table td[0]");
      var i = 1;
      for (l = 0; l < td.length; l += 5) {
        td[l].textContent = i < 10 ? `0${i}` : i.toString();
        i = i + 1
      }
    })

    var water_mark = document.getElementById('watermark').textContent
 
    var textWatermark = water_mark
    var fullTextWatermark = '';
    var n = 10000;
    for (var i = 0; i < n; i++) {
     fullTextWatermark+= ' ' + textWatermark;
    }
    document.getElementById('watermark').innerHTML = fullTextWatermark

    window.addEventListener('contextmenu', function (e) {
      e.preventDefault();
  });

  window.addEventListener('keydown', function (e) {
    if (e.key === 'PrintScreen' || e.key === 'PrtScn') {
        // Handle the print screen key press
    }
});

window.addEventListener('contextmenu', function (e) {
  e.preventDefault();
});

window.addEventListener('dragstart', function (e) {
  e.preventDefault();
});

  </script>

 


{% endblock %}{% block w2_tail %}</body>

</html>{% endblock %}